<div class="articles__container">
    <div class="articles__main">
        <app-big-card 
            id = "1"
            cardImg = "https://preprod.grazitti.com/assets/2018/06/8-Proven-Reasons-You-Need-Angular-02.png"
            cardTitle = "Sit laborum ab, eius fugit doloribus tenetur fugiat, 
            temporibus enim commodi iusto libero magni deleniti quod quam"
            cardDescription = "Sit laborum ab, eius fugit doloribus tenetur
            fugiat, temporibus enim commodi iusto libero magni deleniti quod quam
            consequuntur!Commodi minima excepturi repudiandae velit hic maxime
            doloremque.Quaerat provident commodi consectetur veniam similique ad"></app-big-card>
        <app-big-card 
        id = "2"
        cardImg="https://www.oxfordwebstudio.com/user/pages/06.da-li-znate/sta-je-html/sta-je-html.jpg"
        cardTitle = "Sit laborum ab, eius fugit doloribus tenetur fugiat, 
            temporibus enim commodi iusto libero magni deleniti quod quam"
            cardDescription = "Sit laborum ab, eius fugit doloribus tenetur
            fugiat, temporibus enim commodi iusto libero magni deleniti quod quam
            consequuntur!Commodi minima excepturi repudiandae velit hic maxime
            doloremque.Quaerat provident commodi consectetur veniam similique ad"></app-big-card>
        <app-big-card
        id = "3" 
        cardImg="https://www.oxfordwebstudio.com/user/pages/06.da-li-znate/sta-je-css/sta-je-css.png"
        cardTitle = "Sit laborum ab, eius fugit doloribus tenetur fugiat, 
            temporibus enim commodi iusto libero magni deleniti quod quam"
            cardDescription = "Sit laborum ab, eius fugit doloribus tenetur
            fugiat, temporibus enim commodi iusto libero magni deleniti quod quam
            consequuntur!Commodi minima excepturi repudiandae velit hic maxime
            doloremque.Quaerat provident commodi consectetur veniam similique ad"></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card 
        id = "4"
        cardImg="https://picsum.photos/300/200" 
        cardTitle="Sit laborum ab, eius fugit doloribus tenetur
            fugiat, temporibus enim commodi iusto ab libero magni deleniti quod quam
            consequuntur!"></app-small-card>
        <app-small-card 
        id = "4"
        cardImg="https://picsum.photos/300/200" 
        cardTitle="Sit laborum ab, eius fugit doloribus tenetur
            fugiat, temporibus enim commodi iusto ab libero magni deleniti quod quam
            consequuntur!"></app-small-card>
        <app-small-card 
        id = "4"
        cardImg="https://picsum.photos/300/200" 
        cardTitle="Sit laborum ab, eius fugit doloribus tenetur
            fugiat, temporibus enim commodi iusto ab libero magni deleniti quod quam
            consequuntur!"></app-small-card>
        <app-small-card 
        id = "4"
        cardImg="https://picsum.photos/300/200" 
        cardTitle="Sit laborum ab, eius fugit doloribus tenetur
            fugiat, temporibus enim commodi iusto ab libero magni deleniti quod quam
            consequuntur!"></app-small-card>
        <app-small-card 
        id = "4"
        cardImg="https://picsum.photos/300/200" 
        cardTitle="Sit laborum ab, eius fugit doloribus tenetur
            fugiat, temporibus enim commodi iusto ab libero magni deleniti quod quam
            consequuntur!"></app-small-card>
        <app-small-card 
        id = "4"
        cardImg="https://picsum.photos/300/200" 
        cardTitle="Sit laborum ab, eius fugit doloribus tenetur
            fugiat, temporibus enim commodi iusto ab libero magni deleniti quod quam
            consequuntur!"></app-small-card>
        <app-small-card 
        id = "4"
        cardImg="https://picsum.photos/300/200" 
        cardTitle="Sit laborum ab, eius fugit doloribus tenetur
            fugiat, temporibus enim commodi iusto ab libero magni deleniti quod quam
            consequuntur!"></app-small-card>

    </div>
</div>